body {background-color: #FFCC66;}
h1 {background-color: green; font-style: oblique;text-align:center; text-decoration: underline;;}
h2 {font-style: oblique; text-decoration:underline;}
.parrafo1 {color: black;font-size: 30px}
.parrafo2 {color: #330066;font-size: 20px}
.parrafo3 {color: #330066; font-size: 20px}
.lista {font-size: 25px}
